/* line 6, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
.x-demo-carousel .xooie-carousel-content {
  border: 1px solid #434345; }
  /* line 9, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
  .x-demo-carousel .xooie-carousel-content li {
    height: 100px;
    width: 100px;
    background-color: red;
    margin-right: 10px; }
  /* line 16, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
  .x-demo-carousel .xooie-carousel-content:last-child {
    margin-right: 0; }
/* line 21, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
.x-demo-carousel .xooie-carousel-control {
  position: absolute;
  top: 50px; }
  /* line 25, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
  .x-demo-carousel .xooie-carousel-control.left {
    left: 0; }
  /* line 29, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/carousel.scss */
  .x-demo-carousel .xooie-carousel-control.right {
    right: 0; }
