/* line 5, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-index-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: JosefinSansLight;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  margin: 150px 0 15px; }

/* line 14, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-index-subtitle {
  font-family: JosefinSansLight;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  font-size: 46px; }

/* line 21, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-index-buttons {
  text-align: center;
  padding: 10px 0 20px; }
  /* line 25, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-index-buttons [class^="x-button"] {
    margin-right: 10px; }
  /* line 29, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-index-buttons:last-child {
    margin-right: 0; }

/* line 34, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-gem-info {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px; }
  /* line 39, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-gem-info [class^="x-link"] {
    display: block; }

/* line 44, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-dependency-info {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px; }

/* line 50, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-why {
  overflow-x: hidden; }
  /* line 53, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-why .x-h2 {
    text-align: center; }

/* line 58, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-why-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  font-size: 0;
  padding: 0 30px;
  border-bottom: 1px solid #c6c6cc;
  text-align: center; }
  /* line 35, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/_mixins.scss */
  .x-why-list > li {
    display: inline-block;
    font-size: 14px; }
  /* line 66, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-why-list li {
    margin-right: 20px; }
  /* line 70, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-why-list:last-child {
    margin-right: 0; }

/* line 75, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-why-button {
  color: #434345;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.2s ease-in-out 0;
  -o-transition: color 0.2s ease-in-out 0;
  transition: color 0.2s ease-in-out 0;
  font-size: 24px;
  padding: 10px 20px;
  border: 1px solid #c6c6cc;
  border-bottom: 0;
  border-radius: 5px 5px 0 0; }
  /* line 17, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/_mixins.scss */
  .x-why-button:hover, .x-why-button:focus {
    color: #0591ab; }
  /* line 83, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-why-button.is-tab-active {
    color: #434345;
    background-color: #07c9d4; }

/* line 89, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
.x-why-panel {
  display: none;
  padding: 5px 50px 25px; }
  /* line 93, /Users/alarki200/Documents/workspace/Xooie/source/stylesheets/pages/index.scss */
  .x-why-panel.is-tab-active {
    display: block; }
