@import 'compass';
@import 'mixins';

// Color Scheme

$black: #000000;
$almost_black: #1B1B1C;
$dark_grey: #434345;
$grey: #7E7E82;
$light_grey: #C6C6CC;
$almost_white: #F5F5F5;
$white: #ffffff;

$blue: #0591AB;
$light_blue: #07C9D4;
$turquoise: #4DD6BB;

// Sizes
$gargantuan: 100px;
$huge: 46px;
$xlarge: 36px;
$large: 24px;
$medium: 18px;
$normal: 14px;
$small: 12px;
$tiny: 10px;

$heading_large: 36px;
$heading_medium: 32px;
$heading_small: 26px;

// Measurements

$base_distance: 5px;

$nav_width: base(30);

$page_margin_side: base(6);
$page_margin_top: 0;
$page_margins: $page_margin_top $page_margin_side;

// Timing

$short-transition: 0.20s;
$medium-transition: 0.50s;
$long-transition: 1.0s;

// Easing

$default-easing: ease-in-out;

// Links

$link-focus-glow-color: $turquoise;
$link-focus-glow-offset: 0px;
$link-focus-glow-blur: 5px;

// Other

$divider: 1px solid $light_grey;
$light_border: 1px solid $light_grey;
$dark_border: 1px solid $dark_grey;

// Colors for Layout Development
$debug-R: #CC1F26;
$debug-G: #1EB655;
$debug-O: #E59026;
$debug-B: #0058C7;
$debug-Y: #FFD602;