/* line 5, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
.x-nav {
  position: fixed;
  overflow: auto;
  bottom: 0;
  top: 0;
  border-right: 1px solid #434345;
  color: #434345;
  width: 150px;
  margin-left: -150px; }

/* line 16, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
.x-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c6c6cc; }
  /* line 20, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
  .x-nav-list:last-child {
    border-bottom: 0; }

/* line 25, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
.x-nav-link {
  color: #434345;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.2s ease-in-out 0;
  -o-transition: color 0.2s ease-in-out 0;
  transition: color 0.2s ease-in-out 0;
  display: block;
  padding: 10px; }
  /* line 17, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/_mixins.scss */
  .x-nav-link:hover, .x-nav-link:focus {
    color: #0591ab; }
  /* line 30, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
  .x-nav-link.main {
    font-size: 24px; }
  /* line 35, /Users/alarkin2/Documents/workspace/Xooie/source/stylesheets/layout/nav.scss */
  .x-nav-link:hover, .x-nav-link:focus {
    background-color: #07c9d4;
    color: white; }
