---
title: Xooie - Widgets Your Way
---

<h1 class="x-index-title">Xooie</h1>
<h2 class="x-index-subtitle">Build the web the way you want.</h2>

<div class="x-index-buttons">
    <a class="x-button-large icon-download" href="">Download <span class="x-version-button">(1.0.0)</span></a>
    <a class="x-button-large icon-github" href="http://github.com/Comcast/Xooie" target="_blank">View It On Github</a>
</div>

<div class="x-gem-info">
    <h2 class="x-h3">Get the Ruby on Rails Gem</h2>
    <code class="x-code-block">
        gem install xooie
    </code>
    <a class="x-link-medium" href="http://rubygems.org/gems/xooie" target="_blank">Gem version history</a>
</div>

<div data-widget-type="tab" class="x-why">
    <h2 class="x-h2">What is Xooie?</h2>

    <div class="x-block-full">
        <p>Many UI frameworks and pattern libraries depend on specific markup and styles.  Unless you're willing to have a cookie-cutter design the convenience of using such libraries is lost in hours spent unraveling someone else's css.  Xooie is different.  Xooie provides all that is needed to build interactive web interfaces without using inline styles or specific markup.</p>
    </div>

    <ul data-x-role="tablist" class="x-why-list">
        <li><button data-x-role="tab" class="x-why-button" data-activate="true">Xooie is Easy</button></li>
        <li><button data-x-role="tab" class="x-why-button">Xooie is Accessible</button></li>
        <li><button data-x-role="tab" class="x-why-button">Xooie is Extensible</button></li>
    </ul>

    <div data-x-role="tabpanel" class="x-why-panel">
        <p>What good is a UI framework that requires you to learn a whole new syntax?  Xooie draws on HTML5 conventions to make instantiating widgets easy.  Simply add the appropriate <code>data-widget-type</code> to your widget, identify what elements will take on the necessary roles, and you're good to go.  In fact, Xooie requires no knowledge of JavaScript, making it great for designers and prototypers.</p>
        <a href="" class="x-link">Learn more about instantiating widgets</a>
    </div>

    <div data-x-role="tabpanel" class="x-why-panel">
        <p>ARIA.  WGAC.  Section 508.  If you've never heard of these things, you're not alone.  If you have, you know that creating a website that works well for everyone, regardless of ability, is no small task.  Xooie takes some of the complication out of building accessible widgets by intelligently adding accessible attributes.</p>
        <a href="/accessibility" class="x-link">Learn more about Xooie's accessibility features</a>
    </div>

    <div data-x-role="tabpanel" class="x-why-panel">
        <p>Designs change like seasons.  Inevitably a new design will add new functionality to your existing interface, or change the way something works.  Traditionally this meant re-implementing another carousel, or writing another tab.  No more.  Xooie allows developers to create add-ons, modules that work side-by-side with widgets to add new functionality.  Xooie also allows developers to extend widgets to create completely new interfaces that inherit all the capabilities of the parent widget. </p>
        <div><a href="" class="x-link">Learn more about Addons</a></div>
        <a href="" class="x-link">Learn more about extending widgets</a>
    </div>
</div>