<h1>Accordion</h1>

<div data-widget-type="accordion">
    <div data-x-role="tablist"></div> <!-- not sure about this one -->

    <button data-x-role="tab">Header 1</button>
    <div data-x-role="tabpanel"></div>

    <button data-x-role="tab">Header 2</button>
    <div data-x-role="tabpanel"></div>

    <button data-x-role="tab">Header 3</button>
    <div data-x-role="tabpanel"></div>

</div>