<h1>Carousel</h1>

<div data-widget-type="carousel" style="padding: 0 50px; position: relative;">
    <button data-x-role="control:left 1 item" style="position: absolute; left: 0; top: 0;">Left</button>

    <ul data-x-role="content">
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red; margin-right: 10px"><img src="" /></li>
        <li style="height: 100px; width: 100px; background-color: red;"><img src="" /></li>
    </ul>

    <button data-x-role="control:right 1 item" style="position: absolute; right: 0; top: 0;">Right</button>
</div>